
<app-preloader *ngIf="showPreloader"></app-preloader>

<!-- ============ permalink block start ======================  -->


<div *ngIf="!showPreloader && loggedIn" style="height: 100px;" class="container-fluid">
	<div style="height: 100px;" class="row">
		<div class="permalinkForm">
			<form *ngIf="loggedIn"  #inputURL='ngForm' class="form-inline">
				<label class="permalink" class="permalink" for="input">Permalink: </label>
        <a *ngIf="!editionPermalink" style="margin-left: 5px" href='{{winOrigin}}/{{currentLang}}/article/{{articleId}}'> {{winOrigin}}/article/{{articleId}}</a>
        <a *ngIf="editionPermalink" style="margin-left: 5px" href='{{winOrigin}}/{{currentLang}}/article/{{articleId}}'> {{winOrigin}}/article/</a>
				<input *ngIf="editionPermalink" #input="ngModel" [(ngModel)]='permalinkEdit' trim name="input" ngModel class="form-control col-md-3">
				
				<button *ngIf="!editionPermalink" style="margin: 10px" 
				(click)='editPermalink(inputURL); editionPermalink = !editionPermalink' 
				class="btn btn-primary btn-large" 
				type="submit">
				Edit
				</button>
				
				<button *ngIf="editionPermalink" style="margin: 10px 5px;" (click)='savePermalink(inputURL); editionPermalink = !editionPermalink' 
				class="btn btn-success btn-large">
				Save
				</button>
	
				<button *ngIf="editionPermalink" style="margin: 10px 2px;" (click)='cancelPermalink(); editionPermalink = !editionPermalink' 
				class="btn btn-danger btn-large">
				Cancel
				</button>
		  	</form>
		</div>

		<div *ngIf="newLanguageAdded" class="col-md-3">
			<p>added new language {{localhost.language}} to this page</p>
		</div>
	</div>
	
</div>

<!-- ============ permalink block end ======================  -->


<!-- ============ category block start ======================  -->



<div *ngIf="!showPreloader && loggedIn" style="height: 100px;" class="container-fluid">

  <div style="position: relative;opacity: 0"  class="progressBlock container">
    <div  class="progress">
      <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadPercent | async) + '%'" [attr.aria-valuenow]="(uploadPercent | async)" aria-valuemin="0" aria-valuemax="100">
      </div>
    </div>
  </div>

	<div style="height: 100px;" class="row">
		<div class="category">
			<form *ngIf="loggedIn"  #inputValue='ngForm' class="form-inline">
				<label for="input">Category: </label>
		    <h5 style="margin:2px 10px;" *ngIf="!edition">{{category}}</h5>
      
        <select *ngIf="edition" style="width: 200px;" (change)='chooseCategory($event)' class="custom-select">
            <option value="Other" selected>Choose category...</option>
            <option value="{{category.category}}" *ngFor="let category of news_categories">{{category.category}}</option>
          </select>

				<button *ngIf="edition" style="margin: 10px" 
				(click)='acceptCategory(); edition = !edition' 
				class="btn btn-info btn-large" 
				type="submit">
				Save
        </button>

        <button *ngIf="!edition" style="margin: 10px" 
				(click)='editCategory(category); edition = !edition' 
				class="btn btn-primary btn-large" 
				type="submit">
				Edit
        </button>
        
        <!-- <div id="addNewLangToPanel" *ngIf="addingNewLan" class="input-group mb-3 col-md-3"> -->
            
            <!-- <div class="input-group-append">
              <button (click)="languageAdding()" class="btn btn-info" type="button">OK</button>
              <button (click)='addingNewLan = !addingNewLan' class="btn btn-danger" type="button">Close</button>
            </div> -->
          <!-- </div> -->
		  	</form>
		</div>

		<div *ngIf="newLanguageAdded" class="col-md-3">
			<p>added new language {{localhost.language}} to this page</p>
		</div>
	</div>
	
</div>

<!-- ============ category block end ======================  -->

<div *ngIf="!showPreloader" class="container-fluid">

	<div  *ngIf="template" id="body"  class="container-fluid body_container">
		<div [innerHTML]='template'></div>
	</div>

	
	<!-- ============================================================================================= -->
  <!-- (mouseover)='editElement($event, editBlock)' -->

  <div  *ngIf="!template" id="default" class="container-fluid body_container">
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-2 mb-3">
              </div>
              <div  class="col-md-8">
                <h3 class="text-center articleTitle click2edit">
                  Lorem ipsum dolor sit amet,consectetur adipiscing elit. Aliquam eget sapien sapien.
                </h3>
              </div>
              <div class="col-md-2">
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
              </div>
              <div class="col-md-8">
                <p class="text-center lead description click2edit">
                  Lorem ipsum dolor sit amet,consectetur adipiscing elit. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus.Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui. Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.
                </p>
              </div>
              <div class="col-md-2">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 editableImage">
                <img class="previewImage" alt="Bootstrap Image Preview" src="https://firebasestorage.googleapis.com/v0/b/antwerk-2a8e5.appspot.com/o/single_article.jpg?alt=media&token=5294d6a1-838e-47ee-bc19-f89d19cc4baa">
              </div>
            </div>

             <div class="row mt-5">
              <div class="col-md-1">
              </div>
              <div class="col-md-10 mt-5">
                  <p>
                    Lorem ipsum dolor sit amet,consectetur adipiscing elit. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus.Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui. Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.
                  </p>
              </div>
              <div class="col-md-1">
              </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-1">
                  </div>
              <div class="col-md-5 mt-5">
                <dl>
                  <dt>
                    Description lists
                  </dt>
                  <dd>
                    A description list is perfect for defining terms.
                  </dd>
                  <dt>
                    Euismod
                  </dt>
                  <dd>
                    Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
                  </dd>
                  <dd>
                    Donec id elit non mi porta gravida at eget metus.
                  </dd>
                  <dt>
                    Malesuada porta
                  </dt>
                  <dd>
                    Etiam porta sem malesuada magna mollis euismod.
                  </dd>
                  <dt>
                    Felis euismod semper eget lacinia
                  </dt>
                  <dd>
                    Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                  </dd>
                </dl>
              </div>
              <div class="col-md-5 mt-10 editableImage">
                <img class="" alt="Bootstrap Image Preview" src="https://firebasestorage.googleapis.com/v0/b/antwerk-2a8e5.appspot.com/o/single_article_1.jpg?alt=media&token=1536fb70-9ef3-4aef-adb4-b5a69d9c59e3">
              </div>
              <div class="col-md-1">
              </div>
            </div>
            <div style="margin-top:50px" class="row">
              <div class="col-md-2">
              </div>
              <div class="col-md-8">
                <blockquote class="blockquote">
                  <p class="mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                  </p>
                  <footer class="blockquote-footer">
                    Someone famous in <cite>Source Title</cite>
                  </footer>
                </blockquote>
              </div>
              <div class="col-md-2">
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>


	<!-- <div class="container-fluid" [innerHTML]='template'></div> -->

			
	<!-- </div> -->



<!-- <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-8">
            <p class="text-center lead">
              {{article.description}}
            </p>
          </div>
          <div class="col-md-2">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <img alt="Bootstrap Image Preview" src="http://mmpj.com.pl/wp-content/uploads/2017/02/mmpj2.jpg">
          </div>
        </div>
        <div class="row mt-5" >
          <div class="col-md-2">
          </div>
          <div class="col-md-5">
            <p>
              Lorem ipsum dolor sit amet,consectetur adipiscing elit. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus.Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui. Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.
            </p>
            <dl>
              <dt>
                Description lists
              </dt>
              <dd>
                A description list is perfect for defining terms.
              </dd>
              <dt>
                Euismod
              </dt>
              <dd>
                Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
              </dd>
              <dd>
                Donec id elit non mi porta gravida at eget metus.
              </dd>
              <dt>
                Malesuada porta
              </dt>
              <dd>
                Etiam porta sem malesuada magna mollis euismod.
              </dd>
              <dt>
                Felis euismod semper eget lacinia
              </dt>
              <dd>
                Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
              </dd>
            </dl>
          </div>
          <div class="col-md-5 mt-10 mb-5">
            <img alt="Bootstrap Image Preview" src="https://www.skat.com.pl/slir/w1280-q100//images/galerie/transport-multimodalny/IMG_3462.jpg">
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-8">
            <blockquote class="blockquote">
              <p class="mb-0">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
              </p>
              <footer class="blockquote-footer">
                Someone famous in <cite>Source Title</cite>
              </footer>
            </blockquote>
          </div>
          <div class="col-md-2">
          </div>
        </div>
      </div>    </div>
  </div> -->