.click2edit_nav:focus{
    outline: none !important;
    border: 1px solid #96c7f1;
    box-shadow: 0px 0 10px 1px #719ECE;
    border-radius: 5px; 
    transition: all .2s ease-in;
}

.contacts-list li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 0px;
}

.socialLi{
    font-size: 1.5em;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}

.socialLi .location-link{
    color: #fff;
}

.contacts-header-block .editNavbar{
    height: 38px;
    margin-top: 2px;
}

.navbar_container{
    padding: 0px;
    transition: all 0.5s ease-out;
}
@keyframes fadeIn {
    from {
        margin-top: -200px;
    }
    to {
        margin-top: 0px;
    }
}

@keyframes fadeOut {
    from {
        margin-top: 0px;
    }
    to {
        margin-top: -200px;
    }
}

@keyframes slideIn {
    from {
        right: -200px;
    }
    to {
        right: 20px;
    }
}

@keyframes slideOut {
    from {
        right: 20px;
    }
    to {
        right: -200px;
    }
}

.slideIn{
    right: 20px;
    animation-name: slideIn;
    animation-duration: 2s;
}

.slideOut{
    right: -200px;
    animation-name: slideOut;
    animation-duration: 1s;
}

/* .fadeOutAlert{
    right: 200px;
    position: absolute;
} */

.fixed_to_top{
    animation-name: fadeIn;
    animation-duration: 1s;
    position: fixed;
}
.editing{
    background: #f54949!important;
}

.fade_out_navbar{
    margin-top: -200px;
    animation-name: fadeOut;
    animation-duration: 0.5s;
}

.fade_in_navbar{
    margin-top: 0px;
    animation-name: fadeIn;
    animation-duration: 0.5s;
}

.main_navbar, .rightsidebar_main_block {
    font-size: 25px;
    color: #e6cff1;
}
.active{
    color: #fff;
}

.main_navbar ul , .rightsidebar_main_block ul{
    list-style-type: none;
    display: flex;
    width: 100%;
    background-color: #dc8c12;
    flex-flow: row wrap;
    z-index: 9999;
    justify-content: flex-end;
}
.dropdown-menu.show{
    display: flex;
    flex-flow: row;
}
.main_navbar ul li , .rightsidebar_main_block  ul li{
    cursor: pointer;
    padding: 0.5rem;
    font-weight: 100;
    text-align: center;
    font-size: 27px;
    transition: all 0.3s ease-out;
}

.main_navbar ul li:hover , .rightsidebar_main_block  ul li:hover{
    color: #fff;
    transition: all 0.3s ease;
}
.main_navbar ul li:focus, .rightsidebar_main_block  ul li:focus{
    outline: none;
}

.products_collections ul{
    list-style-type: none;
    font-size: 17px;
    color: #9846bf;
    border-bottom: 1px solid #8740a71f;
    display: flex;
    background: #fff;
    padding: 15px 0px;
    width: 100%;
    position: fixed;
    top: 76px;
    /* margin-top: 0px; */
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.searchBtn{
    background: #448ed4;
    color: #fff;
    border-radius: 7px;
    border: none;
    height: 34px;
    padding: 5px;
    font-size: 16px;
    box-shadow: 1px 1px 1px 1px #5d92c3;
    transition: all 0.3s ease-out;
}
.searchBtn:hover{
    background: #5c90e4;
    box-shadow: 2px 1px 3px 1px #659fad;
    transition: all 0.3s ease-in;
    cursor: pointer;
}
.products_collections {
    position: absolute;
    width: 100%;
    z-index: 9999;
}
.products_collections ul li{
    cursor: pointer;
    padding: 0.5rem;
}
.products_collections ul li:hover{
    color: #333;
}

.products_collections ul li:after {
    display:block;
    content: '';
    border-bottom: solid 2px #c778ea;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
.products_collections ul li:hover:after { transform: scaleX(1); }
.products_collections ul li:after{  transform-origin:  0% 50%; }

.notValid{
    border: 1px solid #f12e2e;
    box-shadow: inset 0px 0px 7px 0px #f54949;
    transition: all 0.5s ease-in-out;
}

#rightsidebar_main_block{
    flex-flow: column;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    right: 0px;
    top: 220px;
    z-index: 20;
    opacity: 0.5;
    transition: opacity 0.3s ease-out
}

#rightsidebar_main_block:hover{
    opacity: 1;
    transition: opacity 0.3s ease-in;
}

#language_panel{
    flex-flow: column;
    align-items: center;
    width: 100%;
}

.lang_menu_item:hover{
    cursor: pointer;
}

#addNewLangToPanel {
    position: fixed;
    right: 86px;
    z-index: 100;
    top: 228px;
    max-width: 410px;
}

@media all and (max-width: 800px) {
    .main_navbar ul, .rightsidebar_main_block ul {
      justify-content: space-around;
    }
  }
  
@media all and (max-width: 500px) {
    .main_navbar ul, .rightsidebar_main_block ul {
      flex-direction: column;
    }
  }