<!-- <div class="well off-top">
  <div class="alert alert-success" *ngIf="postSaved">Post added.</div>
  <h4>Post something with Summernote:</h4>
  <form role="form" [formGroup]="savePostForm" (ngSubmit)="savePost($event)">    
    <div class="form-group">
      <label>Post</label>
      <textarea id="summernote" class="form-control" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" >Submit</button>
  </form>
</div> -->



<!-- <h4>Posted below: </h4> -->
<!-- <p [innerHTML]="postText | escapeHtml"></p> -->

<br>
<br>


<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<nav style="position: fixed;right: 0px;" class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="navbar-nav">
						<button *ngIf="!templateSending" (click)='editInner($event);templateSending = !templateSending' class="btn btn-primary my-2 my-sm-0"  type="button">
							Save
						</button>
						<button *ngIf="templateSending" class="btn btn-primary my-2 my-sm-0" style="background: rgb(176, 179, 17)"  type="button">
							Saving
						</button>
					</ul>
				</div>
      		</nav>
    	</div>
  </div>
  <!-- (mouseover)='editElement($event, editBlock)' -->
	<div  *ngIf="template" id="body"  class="container-fluid body_container">
		<div [innerHTML]='template'></div>
	</div>


	<!-- ============================================================================================= -->
  <!-- (mouseover)='editElement($event, editBlock)' -->
	<div  *ngIf="!template" id="default" class="container-fluid body_container">
      <!-- <button id="edit" class="btn btn-primary" (click)="edit(editBlock)" type="button">Edit 1</button>
      <button id="save" class="btn btn-primary" (click)="save(editBlock)" type="button">Save 2</button> -->
      <section #editBlock class="click2edit">
        <div>
            <p>awfawfafaf<span>awfawfaff</span></p>
        </div>
        <div>
          <h1>awfawfafw</h1>
            <p>awfawfafaf<span>awfawfaff</span></p>
        </div>
      </section>

			<!-- <div [innerHTML]='template'></div> -->
	<section  class="jumbotron click2edit" >
			<h2  id="hello">
				Hello, world!
			</h2>
			<p>
				This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
			</p>
			<p>
				<a class="btn btn-primary btn-large" href="#">Learn more</a>
			</p>
  </section>

		<div class="row">
			<section  class="col-md-6 layout click2edit">
				<div class="page-header">
					<h1>
						LayoutIt! <small>Interface Builder for Bootstrap</small>
					</h1>
				</div>
				<h2>
					Heading
				</h2>
				<p>
					Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
				</p>
				<p>
					<a class="btn" href="#">View details »</a>
				</p>
			</section>
			<section class="col-md-6 click2edit">
			</section>
		</div>
		<div class="row">
			<div class="col-md-4 ">
				<div class="card">
					<img class="card-img-top" alt="Bootstrap Thumbnail First" src="https://www.layoutit.com/img/people-q-c-600-200-1.jpg" />
					<div class="card-block">
						<h5 class="card-title">
							Card title
						</h5>
						<p class="card-text">
							Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
						</p>
						<p>
							<a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 ">
				<div class="card">
					<img class="card-img-top" alt="Bootstrap Thumbnail Second" src="https://www.layoutit.com/img/city-q-c-600-200-1.jpg" />
					<div class="card-block">
						<h5 class="card-title">
							Card title
						</h5>
						<p class="card-text">
							Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
						</p>
						<p>
							<a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 ">
				<div class="card">
					<img class="card-img-top" alt="Bootstrap Thumbnail Third" src="https://www.layoutit.com/img/sports-q-c-600-200-1.jpg" />
					<div class="card-block">
						<h5 class="card-title">
							Card title
						</h5>
						<p class="card-text">
							Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
						</p>
						<p>
							<a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a>
						</p>
					</div>
				</div>
			</div>
  </div>
  <div class="row">
	<br>
  </div>
  <div class="row">
		<div class="jumbotron">
			<h2>
				Hello, world!
			</h2>
			<p>
				This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
			</p>
			<p>
				<a class="btn btn-primary btn-large" href="#">Learn more</a>
			</p>
  </div>
  </div>
		<div class="row">
			<div class="col-md-8">
				<div class="media">
					<img class="mr-3" alt="Bootstrap Media Preview" src="https://www.layoutit.com/img/sports-q-c-64-64-8.jpg" />
					<div class="media-body">
						<h5 class="mt-0">
							Nested media heading
						</h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
						<div class="media mt-3">
							 <a class="pr-3" href="#"><img alt="Bootstrap Media Another Preview" src="https://www.layoutit.com/img/sports-q-c-64-64-2.jpg" /></a>
							<div class="media-body">
								<h5 class="mt-0">
									Nested media heading
								</h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<h2>
					Heading
				</h2>
				<p>
					Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
				</p>
				<p>
					<a class="btn" href="#">View details »</a>
				</p>
			</div>
		</div>
	</div>
</div>


	<!-- <div class="container-fluid" [innerHTML]='template'></div> -->

			
	<!-- </div> -->