
<app-preloader *ngIf="showPreloader"></app-preloader>

<!-- <h4>Posted below: </h4> -->
<!-- <p [innerHTML]="postText | escapeHtml"></p> -->

<div class="container-fluid">

	<div  *ngIf="template" id="body"  class="container-fluid body_container">
		<div [innerHTML]='template'></div>
	</div>


	<!-- ============================================================================================= -->
  <!-- (mouseover)='editElement($event, editBlock)' -->
	<div  *ngIf="!template" id="default" class="container-fluid body_container">
      <!-- <button id="edit" class="btn btn-primary" (click)="edit(editBlock)" type="button">Edit 1</button>
      <button id="save" class="btn btn-primary" (click)="save(editBlock)" type="button">Save 2</button> -->
			<!-- <div [innerHTML]='template'></div> -->

	<section  class="areaBeforeBlock">
		<div class="jumbotron">
			<h2 class="click2edit" contenteditable="false" id="hello">
				Hello, world!
			</h2>
			<p class="click2edit" contenteditable="false">
				This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
			</p>
			<p>
				<a contenteditable="false" class="btn click2edit btn-primary btn-large" href="#">Learn more</a>
			</p>
		</div>
  </section>
  <section  class="areaBeforeBlock">
		<div class="row">
			<section  class="col-md-6 layout">
				<h2 class="click2edit">
					Heading
				</h2>
				<p class="click2edit">
					Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
				</p>
				<p>
					<a class="btn" href="#" class="click2edit">View details »</a>
				</p>
			</section>
			<section class="col-md-6">
			</section>
		</div>
  </section>
  <section  class="areaBeforeBlock">
		<div class="row">
			<div class="col-md-4 ">
				<div class="card">
					<img class="card-img-top" alt="Bootstrap Thumbnail First" src="https://www.layoutit.com/img/people-q-c-600-200-1.jpg" />
					<div class="card-block">
						<h5 class="card-title click2edit">
							Card title
						</h5>
						<p class="card-text click2edit">
							Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
						</p>
						<p>
							<a class="btn btn-primary click2edit" href="#">Action</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 ">
				<div class="card">
					<img class="card-img-top" alt="Bootstrap Thumbnail Second" src="https://www.layoutit.com/img/city-q-c-600-200-1.jpg" />
					<div class="card-block">
						<h5 class="card-title click2edit">
							Card title
						</h5>
						<p class="card-text click2edit">
							Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
						</p>
						<p>
							<a class="btn btn-primary click2edit" href="#">Action</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 ">
				<div class="card">
					<img class="card-img-top" alt="Bootstrap Thumbnail Third" src="https://www.layoutit.com/img/sports-q-c-600-200-1.jpg" />
					<div class="card-block">
						<h5 class="card-title click2edit">
							Card title
						</h5>
						<p class="card-text click2edit">
							Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
						</p>
						<p class="click2edit">
							<a class="btn btn-primary click2edit" href="#">Action</a>
						</p>
					</div>
				</div>
			</div>
  </div>
  </section>
  <section  class="areaBeforeBlock">

  <div class="row">
	<div class="col-md-4 ">
		<h2 class="click2edit">
			Heading
		</h2>
		<p class="click2edit">
			Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
		</p>
		<p>
			<a class="btn click2edit" href="#">View details »</a>
		</p>
	</div>
	<div class="col-md-4 ">
		<h2 class="click2edit">
			Heading
		</h2>
		<p class="click2edit">
			Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
		</p>
		<p>
			<a class="btn click2edit" href="#">View details »</a>
		</p>
	</div>
	<div class="col-md-4 ">
		<h2 class="click2edit">
			Heading
		</h2>
		<p class="click2edit">
			Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
		</p>
		<p>
			<a class="btn click2edit" href="#">View details »</a>
		</p>
	</div>
</div>
</section>
<section  class="areaBeforeBlock">

  <div class="row">
		<div class="jumbotron ">
			<h2 class="click2edit">
				Hello, world!
			</h2>
			<p class="click2edit">
				This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
			</p>
			<p>
				<a class="btn btn-primary btn-large click2edit" href="#">Learn more</a>
			</p>
  </div>
  </div>
  </section>
  <section  class="areaBeforeBlock">

		<div class="row">
			<div class="col-md-8">
				<div class="media">
					<img class="mr-3" alt="Bootstrap Media Preview" src="https://www.layoutit.com/img/sports-q-c-64-64-8.jpg" />
					<div class="media-body">
						<h5 class="mt-0">
							Nested media heading
						</h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
						<div class="media mt-3">
							 <a class="pr-3" href="#"><img alt="Bootstrap Media Another Preview" src="https://www.layoutit.com/img/sports-q-c-64-64-2.jpg" /></a>
							<div class="media-body">
								<h5 class="mt-0">
									Nested media heading
								</h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<h2>
					Heading
				</h2>
				<p>
					Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
				</p>
				<p>
					<a class="btn" href="#">View details »</a>
				</p>
			</div>
		</div>
		</section>
	</div>
</div>


	<!-- <div class="container-fluid" [innerHTML]='template'></div> -->

			
	<!-- </div> -->