<nav class="main_navbar">
  <ul class="navbar_container">
      
    <button class="navbar-toggler" type="button" 
        data-toggle="collapse" data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" 
        aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <form class="form-inline col-md-4 my-3 my-lg-0">
      <input #formInput class="form-control col-md-8 mr-sm-2" type="search" 
              placeholder="Type title, brand or categorie" 
              aria-label="Search">
      <button (click)='routeToSearch(formInput)' class="btn my-2 my-sm-0 searchBtn" type="submit">Search</button>
    </form> -->
    <li routerLinkActive="active"  (click)="followLink('home')">{{home}}</li>
    <!-- <li routerLinkActive="active"  class="menu_toggle" (click)="showProductsCollection(productCollection)">Products</li> -->
    <li routerLinkActive="active" (click)="followLink('contacts')">{{contacts}}</li>
    <li routerLinkActive="active" (click)="followLink('services')" >{{services}}</li>

    
    <li *ngIf='!loggedUser' routerLinkActive="active"  (click)="followLink('login')">Login</li>
    
    <!-- <li *ngIf='loggedUser' routerLinkActive="active"  routerLink="/adminPanel"><fa-icon [icon]="faUser"></fa-icon></li> -->
   
    <li (click)="logoutUser()" *ngIf='loggedUser' routerLinkActive="active"  routerLink="/register">Logout</li>

    <ul class="navbar-nav">
      <button *ngIf="!templateSending" (click)='editInner($event)' class="btn btn-primary my-2 my-sm-0"  type="button">
        Save
      </button>
      <button *ngIf="templateSending" class="btn btn-info my-2 my-sm-0"  type="button">
        Saving
      </button>
    </ul>
  </ul>
</nav>

<nav id="rightsidebar_main_block" class="main_navbar ">
  <ul id="language_panel" class="navbar_container ">
      <li class="lang_menu_item"
      style="
        color: #fff;
        font-size: 30px;
        border: 1px solid #2ec52e;
        background: #10b510;
        padding: 2px 15px;" 

      data-lang="add" routerLinkActive="active">
      +
    </li>
      
    <li class="lang_menu_item" data-lang="en" routerLinkActive="active"  >EN</li>
    <li class="lang_menu_item" data-lang="pl" routerLinkActive="active" >PL</li>
    <li class="lang_menu_item" data-lang="ru" routerLinkActive="active" >RU</li>
    
    </ul>
</nav>
<!-- <div class="products_collections">
    <ul class="fade_out_navbar">
      <li routerLink="/">Home</li>
      <li class="menu_toggle">Products</li>
      <li>Contact</li>
      <li>Services</li>
      <li routerLink="/">Home</li>
      <li class="menu_toggle">Products</li>
      <li>Contact</li>
      <li>Services</li>
    </ul>
</div> -->