/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.permalinkForm{
    position: absolute;
    display: flex;
    justify-content: center;
    background: linear-gradient(to left, #f78449 31%, #ffad2f 65%);
    padding: 10px 50px;
    width: 100%;
    height: 101px;
}
.category{
    position: absolute;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #f7844a -56%, #ffad2f 44%);
    padding: 10px 50px;
    color: #fff;
    /* height: 101px; */
}

label.permalink{
    color: #fff;
    font-size: 18px;
}

.controlBtnsBlock {
    position: absolute;
    left: 185px;
}