<app-preloader *ngIf="showPreloader"></app-preloader>

<!-- ============ permalink block start ======================  -->

<div *ngIf="!showPreloader && loggedIn"  style="height: 80px;" class="container-fluid">
	<div style="height: 100px;" class="row">
		<div class="permalinkForm">
			<form *ngIf="loggedIn"  #inputURL='ngForm' class="form-inline">
				<label for="input">Permalink: </label>
				<a style="margin-left: 5px" href='{{winOrigin}}{{permalink}}'> {{winOrigin}}{{permalink}}</a>
				<input *ngIf="edition" #input="ngModel" [(ngModel)]='permalinkEdit' name="input" ngModel class="form-control col-md-3">
				
				<button *ngIf="!edition" style="margin: 10px" 
				(click)='editPermalink(inputURL); edition = !edition' 
				class="btn btn-primary btn-large" 
				type="submit">
				Edit
				</button>
				
				<button *ngIf="edition" style="margin: 10px 5px;" (click)='savePermalink(inputURL); edition = !edition' 
				class="btn btn-success btn-large">
				Save
				</button>
	
				<button *ngIf="edition" style="margin: 10px 2px;" (click)='cancelPermalink(); edition = !edition' 
				class="btn btn-danger btn-large">
				Cancel
				</button>
		  	</form>
		</div>

		<div *ngIf="newLanguageAdded" class="col-md-3">
			<p>added new language {{localhost.language}} to this page</p>
		</div>
	</div>
  </div>
  
  <!-- ============ permalink block end ======================  -->

  <div *ngIf="!showPreloader"  class="container-fluid">

      <div  *ngIf="template" id="body"  class="container body_container">
        <div [innerHTML]='template'></div>
      </div>
      <div  *ngIf="!template" id="default" class="container body_container">    
    <form>
    <div style="margin-top:40px" class="form-group">
      <label class="click2edit" for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label class="click2edit" for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label click2edit" for="exampleCheck1 ">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary click2edit">Submit</button>
  </form>
  </div>
</div>

