<app-preloader *ngIf="showPreloader"></app-preloader>

<!-- ============ permalink block start ======================  -->

<!-- <div *ngIf="!showPreloader && loggedIn"  style="height: 80px;" class="container-fluid">
    <form  #inputURL='ngForm' class="form-inline col-md-4 permalinkForm">
      <label for="input">Permalink: </label>
      <a href='{{winOrigin}}'>{{winOrigin}}/{{permalink}}</a>
      <input *ngIf="edition" #input="ngModel" [ngModel]='permalink' name="input" ngModel class="form-control col-md-3">
      <button style="margin: 10px;" (click)='editPageURL(inputURL); edition = !edition' class="btn btn-primary btn-large searchBtn" type="submit">Edit</button>
    </form>
  </div> -->
  
  <!-- ============ permalink block end ======================  -->

  <div *ngIf="!showPreloader"  class="container-fluid">

      <div  *ngIf="template" id="body"  class="container body_container">
        <div [innerHTML]='template'></div>
      </div>
      <div  *ngIf="!template" id="default" class="container body_container">    
    <form>
    <div style="margin-top:40px" class="form-group">
      <label class="click2edit" for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label class="click2edit" for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label click2edit" for="exampleCheck1 ">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary click2edit">Submit</button>
  </form>
  </div>
</div>

