
<app-preloader *ngIf="showPreloader"></app-preloader>

<!-- ============ permalink block start ======================  -->


<div *ngIf="!showPreloader && loggedIn" style="height: 80px;" class="container-fluid">
	<div style="height: 100px;" class="row">
		<div class="permalinkForm">
			<form *ngIf="loggedIn"  #inputURL='ngForm' class="form-inline">
				<label for="input">Permalink: </label>
				<a style="margin-left: 5px" href='{{permalinkURL}}'> {{winOrigin}}{{permalink}}</a>
				<input *ngIf="edition" #input="ngModel" [(ngModel)]='permalinkEdit' name="input" ngModel class="form-control col-md-3">
				
				<button *ngIf="!edition" style="margin: 10px" 
				(click)='editPermalink(inputURL); edition = !edition' 
				class="btn btn-primary btn-large" 
				type="submit">
				Edit
				</button>
				
				<button *ngIf="edition" style="margin: 10px 5px;" (click)='savePermalink(inputURL); edition = !edition' 
				class="btn btn-success btn-large">
				Save
				</button>
	
				<button *ngIf="edition" style="margin: 10px 2px;" (click)='cancelPermalink(); edition = !edition' 
				class="btn btn-danger btn-large">
				Cancel
				</button>
		  	</form>
		</div>

		<div *ngIf="newLanguageAdded" class="col-md-3">
			<p>added new language {{localhost.language}} to this page</p>
		</div>
	</div>
	
</div>

<!-- ============ permalink block end ======================  -->

<div *ngIf="!showPreloader" class="container-fluid">

	<div  *ngIf="template" id="body"  class="container-fluid body_container">
		<div [innerHTML]='template'></div>
	</div>


	<!-- ============================================================================================= -->
  <!-- (mouseover)='editElement($event, editBlock)' -->
	<div  *ngIf="!template" id="default" class="container-fluid body_container">
      <!-- <button id="edit" class="btn btn-primary" (click)="edit(editBlock)" type="button">Edit 1</button>
      <button id="save" class="btn btn-primary" (click)="save(editBlock)" type="button">Save 2</button> -->
			<!-- <div [innerHTML]='template'></div> -->

	<section  class="areaBeforeBlock">
		<div class="jumbotron">
			<h2 class="click2edit" contenteditable="false" id="hello">
				Hllo, world!
			</h2>
			<p class="click2edit" contenteditable="false">
				This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
			</p>
			<p>
				<a contenteditable="false" class="btn click2edit btn-primary btn-large" href="#">Learn more</a>
			</p>
		</div>
  </section>
  <section  class="areaBeforeBlock">
		<div class="row">
			<section  class="col-md-6 layout">
				<h2 class="click2edit">
					Heading
				</h2>
				<p class="click2edit">
					Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
				</p>
				<p>
					<a class="btn" href="#" class="click2edit">View details »</a>
				</p>
			</section>
			<section class="col-md-6">
			</section>
		</div>
  </section>
  <section  class="areaBeforeBlock">
		<div class="row">
			<div class="col-md-4 ">
				<div class="card">
					<img class="card-img-top" alt="Bootstrap Thumbnail First" src="https://www.layoutit.com/img/people-q-c-600-200-1.jpg" />
					<div class="card-block">
						<h5 class="card-title click2edit">
							Card title
						</h5>
						<p class="card-text click2edit">
							Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
						</p>
						<p>
							<a class="btn btn-primary click2edit" href="#">Action</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 ">
				<div class="card">
					<img class="card-img-top" alt="Bootstrap Thumbnail Second" src="https://www.layoutit.com/img/city-q-c-600-200-1.jpg" />
					<div class="card-block">
						<h5 class="card-title click2edit">
							Card title
						</h5>
						<p class="card-text click2edit">
							Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
						</p>
						<p>
							<a class="btn btn-primary click2edit" href="#">Action</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 ">
				<div class="card">
					<img class="card-img-top" alt="Bootstrap Thumbnail Third" src="https://www.layoutit.com/img/sports-q-c-600-200-1.jpg" />
					<div class="card-block">
						<h5 class="card-title click2edit">
							Card title
						</h5>
						<p class="card-text click2edit">
							Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
						</p>
						<p class="click2edit">
							<a class="btn btn-primary click2edit" href="#">Action</a>
						</p>
					</div>
				</div>
			</div>
  </div>
  </section>
  <section  class="areaBeforeBlock">

  <div class="row">
	<div class="col-md-4 ">
		<h2 class="click2edit">
			Heading
		</h2>
		<p class="click2edit">
			Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
		</p>
		<p>
			<a class="btn click2edit" href="#">View details »</a>
		</p>
	</div>
	<div class="col-md-4 ">
		<h2 class="click2edit">
			Heading
		</h2>
		<p class="click2edit">
			Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
		</p>
		<p>
			<a class="btn click2edit" href="#">View details »</a>
		</p>
	</div>
	<div class="col-md-4 ">
		<h2 class="click2edit">
			Heading
		</h2>
		<p class="click2edit">
			Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
		</p>
		<p>
			<a class="btn click2edit" href="#">View details »</a>
		</p>
	</div>
</div>
</section>
<hr style="border-top: 14px solid rgb(255, 184, 76);">
<section style="background: #eee;" class="news">
	<h2 class="newsLink" style="cursor:pointer"><a (click)="routeToNews()">News</a></h2>
	 
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="newsBlock row col-md-10">
		</div>
		<div class="col-md-1">
		</div>
	</div>
</section>
</div>


	<!-- <div class="container-fluid" [innerHTML]='template'></div> -->

			
	<!-- </div> -->